
.idea/Coding-GYM-Level.1.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Boya/DS/.vs/DS/FileContentIndex/5057a0e5-6717-41e0-902f-54cdf31a44a2.vsidx
Boya/DS/.vs/DS/FileContentIndex/read.lock
Boya/DS/.vs/DS/v17/.suo
Boya/DS/.vs/slnx.sqlite
Boya/DS/.vs/VSWorkspaceState.json
